@font-face {
font-family: "NeueHaasDisplayLight";  
src: url("../fonts/NeueHaasDisplayLight.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
 @font-face {
font-family: "NeueHaasDisplayRoman";  
src: url("../fonts/NeueHaasDisplayRoman.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
 @font-face {
font-family: "NeueHaasDisplayRomanItalic";  
src: url("../fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
