@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  // background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
  }
  &__search {
    width: 100%;
    margin: 18px 0;
  }
  &__search-input {
    padding: 18px 29px;
    border: 1px solid #bdbdbd;
    opacity: 0.9;
    background-color: #d9d9d9;
    border-radius: 20px;
    color: #828282;
    width: 100%;
  }
  &__category {
    overflow-x: auto;
    width: 100%;
  }
  &__category-list {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }
  &__category-item {
    width: 110px;
    min-width: 110px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #f91414;
    background: rgba(249, 20, 20, 0.24);
    opacity: 0.7;
    border-radius: 20px;
    text-align: center;
    padding: 7px 4px;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
    &.active {
      color: #fff;
      background-color: rgba(249, 20, 20, 0.7);
      border: 1px solid rgba(0, 0, 0, 1);
    }
  }
}

.section {
  margin-top: 164px;
}
.title {
  font-size: 45.0633px;
  line-height: 52px;
  border-bottom: 2px solid #000000;
  padding-bottom: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  &__link {
  }
  &__img {
    width: 50px;
  }
}

.foods {
  margin: 230px 0 100px;
  &__list {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  &__item {
    background-color: #cecece;
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__img-box {
    border: 1px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &__img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &__item-name {
    text-align: left;

    padding: 5px 35px 5px 11px;
  }
  &__order-btn {
    width: 30px;
    height: 30px;
    background-color: #ed8585;
    padding: 2px;
    color: #fff;
    border: none;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0px;
    &:active {
      background-color: rgb(110, 110, 110);
    }
  }
}
.primary-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-btn {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.food-page {
  margin-bottom: 160px;
  &__inner {
  }
  &__liked-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #ed8585;
    border-radius: 10px;
    border: none;
    width: 30px;
    height: 30px;
  }
  &__img-box {
    border-radius: 10px;
  }
  &__img {
  }
  &__content {
  }
  &__content-top {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
  &__content-price {
    font-weight: 700;
  }
  &__content-calorie {
    font-weight: 200;
  }
  &__content-text {
    margin-top: 31px;
    font-weight: 500;
  }
}

.footer-food-page {
  &__inner {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__check-order {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: #f91414d4;
    border-radius: 20px;
    border: none;
    max-width: 203px;
    width: 100%;
    padding: 12px;
    color: #ffffff;
    &:active {
      background-color: #de0d0df2;
    }
  }
}
.counter {
  background-color: #d9d9d9;
  padding: 3px 4px;
  width: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  &__minus {
  }
  .counter-btn {
    background-color: #f91414d4;
    border: none;
    border-radius: 5px;
    width: 27px;
    height: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #f6f6f6;
    padding: 5px 0;
    &:active {
      background-color: #de0d0df2;
    }
  }
  &__number {
  }
  &__plus {
  }
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  &__inner {
    padding: 15px 10px 10px;

    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
  }
}
