@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-color: gray;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}
.section {
  margin-top: 164px;
}
.title {
  font-size: 45.0633px;
  line-height: 52px;
  border-bottom: 2px solid #000000;
  padding-bottom: 24px;
}

.logo {
  &__link {
  }
  &__img {
    width: 50px;
  }
}
.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__item {
    padding-right: 28px;
  }
  &__item:last-child {
    padding-right: 0px;
  }
  &__link {
    font-size: 24.87px;
    line-height: 28.45px;
    color: #000;
  }
}
.offer {
  height: 100%;
  min-height: 682px;
  &__inner {
    position: relative;
    margin-top: 63px;
  }
  &__title {
    max-width: 810px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 69px;
    line-height: 78.94px;
    padding-top: 82px;
    padding-left: 27px;
    color: #282828;
    span {
      border-bottom: 3.5px solid #282828;
    }
  }
  &__img {
    position: absolute;
    right: 26px;
    top: 0px;
  }
}

.foods {
  margin-bottom: 100px;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  &__item {
    background-color: gray;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;

    position: relative;
  }
  &__img-box {
    padding: 10px;
  }
  &__img {
  }
  &__order-btn {
    width: 30px;
    height: 30px;
    background-color: gray;
    padding: 2px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -10px;
    right: -10px;
    &:active {
      background-color: rgb(110, 110, 110);
    }
  }
}
.primary-btn {
  background-color: rgb(168, 168, 168);
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.cart-btn {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  background-color: gray;
  // margin: 0 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__inner {
    padding: 15px 10px 10px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
  }
}
